$font-stack: 'Cinzel', serif;
$c-blue: #1cb3c8;
$c-blue2: #0a516d;
$c-light: #dfe2e2;
$c-grey: #738598;
$c-dark: #3c415e;
$c-red: #913535;
$c-err: #f00;


html, body {
  height: 100%;
  margin:0;
}

body {
  display: flex;
  flex-direction: column;
  font: 100% $font-stack;
  background-color: $c-dark;
  color: $c-light;
}


$btn-border: grey;
$btn-background: #4BB543;
$btn-hover: #7c4789;
$btn-active: #7c4789;


.search-area {
  display: flex;
  justify-content: center;
}
.input-group {
  display:flex;
  height: 30px;
}

#search-input {
  border: 1px solid $c-light;
  border-right: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 5px;
  font-family: $font-stack;
} 

#btn-search {
  border: 1px solid $c-light;
  border-left: none;
  background-color: $btn-background;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: $c-light;
  font-family: $font-stack;
}
#btn-search:hover {
  background-color: $btn-hover;
}
#btn-search:active {
  background-color: $btn-hover;
}

.content {
  flex: 1 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.content > div {
  display:inline-block;
}


.header {
  text-align: center;
}

#stats {
  margin-top: 15px;
  font-size: 0.8rem;
}
#results-container {
  margin-top: 15px;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
#results {
  height: 17rem;
}
#results p {
  font-size: 0.8rem;
  margin:0;
}


.r-side button {
  border: none;
  background-color: $c-dark;
  color: $c-light;
  font-family: $font-stack;
  font-size: 2rem;
}
.r-side button:hover {
  background-color: $btn-hover;
}
.r-side button:active {
  background-color: $btn-hover;
}

.hidden {
  display: none;
}
.invis {
  visibility: hidden;
}

#err {
  margin-top: 10px;
  font-size: 0.8rem;
  color: $c-blue;
  height: 0.8rem;
}

.footer {
  flex-shrink: 0;
  font-size: 0.8rem;
  padding-left: 10px;
}
.footer a {
  color: $c-blue;
}
.footer a:hover {
  color: $c-blue;
}
.footer a:active {
  color: $c-red;
}